.big_circleBorder{
    box-sizing: border-box;
    position: absolute;
    width: 146px;
    height: 146px;
    left: 0px;
    right: 0px;
    border: 4px solid #e73737 ; 
}
.big_Circle{
    stroke: #e73737;
    width: 4px;
}
.big_plus{
    position: absolute;
    left: 34,25%;
    right: 33,56%;
    top: 34,25%;
    bottom: 33,56%;
    background: #e73737;
}